
  	<div class="col-sm-3 col-md-2 tabbable tabs-left">
          <ul class="nav nav-pills nav-stacked col-md-8">
          	<li  data-toggle="tab"><%= link_to "Create A project", new_project_path  %></li>
			<li data-toggle="tab"><%= link_to "View Assigned Projects", projects_path  %></li>
          
            <li data-toggle="tab"><%= link_to "Create A Task", new_task_path  %></li>
			<li data-toggle="tab"><%= link_to "View Tasks", tasks_path  %></li>
          
            <li data-toggle="tab"><%= link_to "Create A Time Entry", new_time_entry_path  %></li>
			<li data-toggle="tab"><%= link_to "View Time Entries", time_entries_path  %></li>
			<li data-toggle="tab"><%= link_to "Report: Graphs", root_path  %></li>
          </ul>

</div>

        