<!DOCTYPE html>
<html>
<head>
  <title> Time Track</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<%= render 'layouts/header' %>
<div class="container-fluid">
	<%if user_signed_in? %>
		<%= render 'layouts/sidebar' %>
	<%end%>
	
    <div class="container">
	 	<div class="left jumbotron">
      	<%= yield %>
      	
      	
    </div>
    </div>
    <%= render 'layouts/footer' %>
    </div>

</body>

</html>
